@{
    ViewData["Title"] = "Home Page";
}

<style>
    import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    section {
        position: fixed;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-image: url('/images/startpage.jpg');
        background-repeat: no-repeat;
        background-size: 32%;
        background-position: left 150px top 30px;
    }

    .logo-image {
        width: 85px;
        height: auto;
        margin-right: 5px;
    }

    .logo {
        display: flex;
        margin-left: -120px;
    }

    .search-bar {
        position: absolute;
        top: 15%;
        left: 47%; /* Pomjerite button ulijevo */
        width: 25%;
        height: 7.5%;
        background-size: 40px;
        background-position: 10px center;
        background-repeat: no-repeat;
        border: 3px solid #c3c0c0;
        border-radius: 4px;
        padding-left: 60px;
    }

        .search-bar button {
            position: absolute;
            top: 50%; /* Postavite na sredinu po visini */
            left: 10px;
            transform: translateY(-50%); /* Centrirajte po visini */
            background-color: #FFF; /* Postavite boju */
            border: none; /* Uklonite border */
            border-radius: 4px;
            padding: 8px; /* Dodajte malo paddinga za ljepši izgled */
            color: #00a082; /* Postavite boju teksta */
        }


        .search-bar input[type="text"] {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            background: transparent;
        }

    .reklama {
        position: absolute;
        top: 24%;
        left: 47%;
    }

        .reklama p {
            font-size: 36px;
            color: #000000;
            font-weight: 600;
            line-height: 1.2;
        }

        .reklama .quickbite {
            color: #00a082;
        }

    .specijalna-ponuda {
        position: fixed;
        max-width: 220px;
        flex-direction: column;
        bottom: 0;
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: flex-start;
        z-index: 1;
    }

        .specijalna-ponuda h3 {
            font-size: 24px;
            font-style: italic;
            white-space: nowrap;
            font-weight: 600;
            text-align: left;
            margin-left: 20px;
            margin-bottom: 5px;
            color: #ffffff;
        }

    .slike {
        display: flex;
        gap: 20px;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }

        .slike a {
            flex-shrink: 0;
        }

        .slike img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 10px;
            cursor: pointer;
        }

    body::after {
        content: "";
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 210px;
        background-color: #00a082;
        z-index: -1;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Start page design</title>
</head>
<body>
    <section>
        <form method="post" action="@Url.Action("Search", "Home")">
            <div class="search-bar">
                <input type="text" name="searchTerm" placeholder="Pretraži">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <div class="reklama">
            <p>Uštedi vrijeme.</p>
            <p>Pozovi <span class="quickbite">QuickBite</span>.</p>
        </div>
        <div class="specijalna-ponuda">
            <h3>Specijalna ponuda</h3>
            <div class="slike">
                <a href="@Url.Action("Index", "Items", new { usluznaJedinicaId = 53 })">
                    <img src="/images/kfc.jpg" alt="KFC">
                </a>
                <a href="@Url.Action("Index", "Items", new { usluznaJedinicaId = 47 })">
                    <img src="~/images/arigato.jpg" alt="Arigato">
                </a>
                <a href="@Url.Action("Index", "Items", new { usluznaJedinicaId = 50 })">
                    <img src="~/images/amko.png" alt="Amko">
                </a>
                <a href="@Url.Action("Index", "Items", new { usluznaJedinicaId = 54 })">
                    <img src="~/images/bash.jpg" alt="Bash">
                </a>
            </div>
        </div>
    </section>
</body>
</html>